.main-layout {
    width: 350px;
    margin: auto;
}
@media (min-width:550px) {
    .main-layout {
        width: 510px;
    }
}
@media (min-width:800px) {
    .main-layout {
        width: 760px;
    } 
}
@media (min-width:1150px) {
    .main-layout {
        width: 1100px;
    } 
}

.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 44px;
    border-radius: 24px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: LivvicSemiBold;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
}